@page "/"
@using MermaidJS.Blazor
@inject SystemModel Model

<PageTitle>Home</PageTitle>

<h1>Result of the residue analysis!</h1>

@foreach (var modelTest in Model.Models)
{
    var components = Model.GetModelComponents(modelTest);
    var testResult = Model.GetModelTestResult(modelTest);
    int i = 0;
                        
    <div class="row">
        <div class="col">
            <h2>@modelTest.Name</h2>
            <MermaidDiagram Definition="@modelTest.Model" />
        </div>
        <div class="col">
            <h2>Planned stressors</h2>
            <table>
                <thead>
                    <tr>
                        <th>Stressors</th>
                        @foreach (var c in components)
                        {
                            <th>@c</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ps in Model.PlannedStressors)
                    {
                        int j = 0;
                        <tr>
                            <th>@ps</th>
                            @foreach (var c in components)
                            {
                                int stressorIndex = i;
                                int componentIndex = j;
                                <td @onclick="() => Model.ToggleResidue(modelTest, stressorIndex, componentIndex)">@(testResult.ResidueMatrix[i, j] ? 1 : 0)</td>
                                j++;
                            }
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <h2>Unplanned stressors</h2>
            <table>
                <thead>
                    <tr>
                        <th>Stressors</th>
                        @foreach (var c in components)
                        {
                            <th>@c</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ps in Model.UnplannedStressors)
                    {
                        int j = 0;
                        <tr class="bg-warning">
                            <th>@ps</th>
                            @foreach (var c in components)
                            {
                                <td>@(testResult.ResidueMatrix[i, j] ? 1 : 0)</td>
                                j++;
                            }
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
}